<h3>Products List</h3>


<div class="col">
    <div class="mb-3">
        <label for="" class="form-label">Category ({{selectedCategoryId}})</label>
        <!-- Using Two Way Binding by ngModel -->
        <select #comboCategories class="form-select form-select-lg" id="cbo_categories" [(ngModel)]="selectedCategoryId" (change)="changeCategory(comboCategories.value)">
            <option value="-1" selected>All</option>
            <option *ngFor="let category of categories" [value]="category.Id">
                {{category.Name}}
            </option>
        </select>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">CategoryId</th>
            <th scope="col">Image</th>
            <th scope="col">Count</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products"  >
            <td>{{product.Id}}</td>
            <td>{{product.Name}}</td>
            <td>{{product.UnitPrice}}</td>
            <td [class.bg-warning]="product.Quantity==0" 
                [style.color]="(product.Quantity==0)?'red':'black'">{{product.Quantity}}</td>
            <td>{{product.CategoryId}}</td>
            <td><img [src]="product.ImgUrl" /></td>
            <td>
                <!-- Template Variable -->
                <input #countOfItem type="number" class="form-control" name="" id="" aria-describedby="count" placeholder="1">
            </td>

            <td>
                <button type="button" class="btn btn-success" (click)="buy(product.Id,product.UnitPrice,countOfItem.value)">Buy</button>
            </td>
        </tr>
    </tbody>
</table>